{% extends "trivia/layout.html" %}

{% block body %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log("loaded");
        showgroups();
    });

    function showgroups() {
        console.log("clicked")
        fetch("/getGroups")
            .then(response => response.json())
            .then(groups => {
                groups.forEach(group => {
                    const parent = document.createElement('div');
                    const li = document.createElement('li');
                    li.style = "list-style:none;margin:20px;font-weight: bold;color:hsl(212, 100%, 28%);";
                    li.innerHTML = `Quiz category: ${group.categoryname}`;
                    id = parseInt(group.id);
                    li.onclick = function () {
                        join(group.id);
                    }
                    
                    const div = document.createElement('div');
                    div.onclick = function () {
                        del(div, group.id);
                    }
                    div.innerHTML = "Delete";
                    div.style = "font-weight: normal;color:rgb(73, 73, 225);";
                    parent.append(li);
                    parent.append(div);

                    document.querySelector('#groupname').append(parent);

                })

            });
    }

    function del(element, groupid) {
        id = parseInt(groupid)
        fetch(`/delete/${groupid}`)
        .then((response) => response.json())
        .then((data) => {
            console.log(data, groupid);
        })
        location.reload();
    }

    function join(groupid) {
        window.location.href = "joingroup/" + groupid;
    }

    const refreshRandom = () => {

        fetch('https://jservice.io/api/random')
            .then((response) => response.json())
            .then((data) => {
                console.log('Response:', data)
                let currData = data[0];
                document.getElementById("clueValue").textContent = currData.value;
                document.getElementById("clueCategory").textContent = currData.category.title;
                document.getElementById("clueQuestion").textContent = currData.question;
                document.getElementById("clueAnswer").textContent = currData.answer;
                document.getElementById("clueAirDate").textContent = currData.airdate;
                document.getElementById("clueId").textContent = currData.id;
                document.getElementById("clueRaw").textContent = JSON.stringify(currData);
            });
    };



</script>


{% if user.is_authenticated %}

<form action="{% url 'newgroup' %}" method = "post">
    {% csrf_token %}
    <input type="submit" id = "group" name="group" value="Create Quiz">
  </form>


<div id="groupname"></div>

{% endif %}




{% endblock %}