{% extends "trivia/layout.html" %}

{% block body %}

<script>
    let actualanswer=0
    let gameid=0
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector("#question").style.display = 'none';
        document.querySelector('#leaderboard').style.display = 'block';
        console.log("{{categoryid}}");

    })

    function newscore(groupid) {
        fetch('/newscore', {
            method: 'PUT',
            body: JSON.stringify({
                groupid: groupid
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            gameid = data.id
        });
    }

    function loadquestion() {
        newscore("{{groupid}}");
        document.querySelector('#leaderboard').style.display = 'none';
        document.querySelector("#question").style.display = 'block';
        console.log("question");
        refreshRandom();
        // fetch
    }

    const refreshRandom = () => {
        id = "{{categoryid}}";
        let url = "https://jservice.io/api/clues?category=" + id;
        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                // console.log('Response:', data)
                let questions = [];
                let questionids = [];
                q=data[Math.floor(Math.random() * data.length)]
                text=q.answer
                for (var i = 0; i < 4; i++) {
                    while (questionids.includes(text) ){
                        q = data[Math.floor(Math.random() * data.length)];
                        // console.log(q)
                        text = q.answer;
                    }
                    questionids.push(text);
                    questions[i] = q;
                }
                // console.log(questions);
                const rndInt = Math.floor(Math.random() * 4) + 1
                actualanswer=rndInt-1

                // document.getElementById("clueValue").textContent = questions[rndInt-1].value;
                document.getElementById("clueCategory").textContent = "Category: " + questions[rndInt-1].category.title;
                document.getElementById("clueQuestion").textContent = questions[rndInt-1].question;
                document.getElementById("clueAnswer1").textContent = questions[0].answer;
                document.getElementById("clueAnswer2").textContent = questions[1].answer;
                document.getElementById("clueAnswer3").textContent = questions[2].answer;
                document.getElementById("clueAnswer4").textContent = questions[3].answer;
            });
    };

    function answer(num, gameid) {
        fetch('/score', {
            method: 'PUT',
            body: JSON.stringify({
                number: num,
                gameid: gameid
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.numcompleted >= 10) {
                console.log("completed");
                document.querySelector("#question").style.display = 'none';
                document.querySelector('#leaderboard').style.display = 'block';
                location.reload();
            }
        });
    }

    function submitanswer() {
        var givenanswer = document.querySelector('input[name="answers"]:checked').value; 
        document.querySelector('input[name="answers"]:checked').checked = false;
        console.log(givenanswer);
        console.log(givenanswer, actualanswer+1);
        if (givenanswer == actualanswer+1) {
            console.log("correct");
            answer(1, gameid);
        }
        else {
            answer(0, gameid);
        }
        refreshRandom();
    }



</script>


<h4 id="clueCategory"></h4>

<div id="leaderboard">Leader Board <br>

    {% for score in scores %}
        {{score.user.username}} score: {{score.numscore}} correct <br>
    {% endfor %}
<br>
    <button onclick="loadquestion()">first question</button>
</div>

<div id="question"><br>

    
    <h3 id="clueQuestion"></h3>
    <br><br>

    <form action="javascript:;" onsubmit="submitanswer();" name="choice" method="post" id="categories">
        {% csrf_token %}

        <input type="radio" id="answer1" name="answers" value="1">
        <label id="clueAnswer1" for="answer1"></label><br>

        <input type="radio" id="answer2" name="answers" value="2">
        <label id="clueAnswer2" for="answer2"></label><br>

        <input type="radio" id="answer3" name="answers" value="3">
        <label id="clueAnswer3" for="answer3"></label><br>

        <input type="radio" id="answer4" name="answers" value="4">
        <label id="clueAnswer4" for="answer4"></label><br>
        <input class="btn btn-primary" type="submit" value="submit">

    </form>

    
</div>





{% endblock %}